<main>
	<h1>Cadastrar usuário</h1>
	<section id="section-cadastro">
		<form>
			<div class="col-auto">
				<label for="cnpj">CNPJ</label>
				<input
					type="text"
					class="form-control"
					name="cnpj"
					[(ngModel)]="cadastro.cnpj"
				/>

				<br>

				<label for="email">E-mail</label>
				<input
					type="text"
					class="form-control"
					name="email"
					[(ngModel)]="cadastro.email"
				/>


			</div>
			<br />
			<div class="col-auto">
				<label for="nomeFantasia">Nome Fantasia</label>
				<input
					type="text"
					class="form-control"
					name="nomeFantasia"
					[(ngModel)]="cadastro.nomeFantasia"
				/>

				<br>

				<label for="sede">Nome Responsável</label>
				<input
					type="text"
					class="form-control"
					name="nomeResponsavel"
					[(ngModel)]="cadastro.nomeResponsavel"
				/>
		</div>
			<br />
			<div class="col-auto">

				<label for="nomeOng">Nome da Ong</label>
				<input
					type="text"
					class="form-control"
					name="nomeOng"
					[(ngModel)]="cadastro.nomeOng"
				/>



				<br>

				<label for="servicoOferecido">Serviço Oferecido</label>
				<input
					type="text"
					class="form-control"
					name="servicoOferecido"
					[(ngModel)]="cadastro.servicoOferecido"
				/>
			</div>
			<br />
			<div class="col-auto">

				<label for="endereco">Endereço</label>
				<input
					type="text"
					class="form-control"
					name="endereco"
					[(ngModel)]="cadastro.endereco"
				/>

				<br>

				<label for="telefone">Telefone</label>
				<input
					type="text"
					class="form-control"
					name="telefone"
					[(ngModel)]="cadastro.telefone"
				/>

				<br>

				<label for="senha">Senha</label>
				<input
					type="password"
					class="form-control"
					name="senha"
					[(ngModel)]="cadastro.senha"
				/>

			</div>
			<br />
			<div class="col-auto">

				<label for="confirmaSenha">Confirmar Senha</label>
				<input
					type="password"
					class="form-control"
					name="confirmaSenha"
					[(ngModel)]="cadastro.confirmaSenha"
				/>
			</div>
			<br />
			<div class="col-auto" style="display: flex; gap: 10px;">
				<button
					type="button"
					class="btn btn-primary mb-3"
					(click)="cadastrar()"
					routerLink="/login"
				>
					Cadastrar
				</button>
			</div>
		</form>
	</section>
</main>

