.button-spacer {
  flex: 1 1 auto;
}

.logo-spacer{
  flex: 0.02 0.02 auto;
}

mat-toolbar{
  background-color: white;
  height: 156px;
}

img{
  height: 50px;
  width: 50px;
}

span{
  padding: 8px;
}

a{
  text-decoration: none;
  color: darkblue;
}

