.button-spacer {
  flex: 1 1 auto;
}

.logo-spacer{
  flex: 0.02 0.02 auto;
}

mat-toolbar{
	background-color:  #15CBCA;
	height: 156px;
}

img{
  height: 50px;
  width: 50px;
}



span > p{
	font-family: 'Segoe UI';
	font-size: 24px;
	margin-left: 580px;
	color: white;
}



/*Seção Media Query*/
@media only screen and (min-width: 360px) and (max-width: 768px){
	
}
@media only screen and (min-width: 576px) and (max-width: 768px){
	mat-toolbar{
		width: 1610px;
	}

	span > p{
		margin-left: 500px;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	mat-toolbar{
		width: 1610px;
	}

	span > p{
		margin-left: 550px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
	mat-toolbar{
		width: 1800px;
	}

	span > p{
		margin-left: 600px;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1839px){
	mat-toolbar{
		width: 1870px;
	}

	span > p{
		margin-left: 600px;
	}
}
