#para-quem-section{
  height: 450.25px
}

.para-empresas-ongs > h1{
  padding-top: 160px;
  text-align: center;
  font-family: 'Segoe UI';
  font-weight: bold;
  font-size: 60px;
  color: #15CBCA;
}

.para-empresas-ongs > p{
  padding-top: 30px;
  text-align: center;
  font-family: 'Segoe UI';
  font-size: 27px;
  margin-left: 400px;
  max-width: 1000px;
}
