<section id="menu">
	<p>
		<mat-toolbar>
			<span><img src="./assets/img/logo.png" alt=""></span>
			<span class="logo-spacer"></span>
			<div class="separator" style="display: flex">
				<span><a routerLink="/restrito/lista" style="font-family: 'Segoe UI'; font-size: 24px;">Listar serviços</a></span>
				<span><a routerLink="/restrito/cadastrar-servico" style="font-family: 'Segoe UI'; font-size: 24px;">Cadastrar serviço</a></span>
				<span class="button-spacer"></span>
				<span><a routerLink="/portal"><button class="button" mat-raised-button color="primary">Logout</button></a></span>
			</div>
		</mat-toolbar>
	</p>
</section>
