.button-spacer {
  flex: 1 1 auto;
}

.logo-spacer{
  flex: 0.02 0.02 auto;
}

mat-toolbar{
  background-color: #15CBCA;
  height: 156px;
}

img{
  height: 50px;
  width: 50px;
}

span{
  padding: 8px;
}

a{
  text-decoration: none;
  color: white;
}

.button{
	border-radius: 60px;
	background-color: #15CBCA;
	color: white;
	margin-left: 1250px;
}
@media only screen and (min-width: 576px) and (max-width: 768px){
	mat-toolbar{
		width: 1850px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	mat-toolbar{
		width: 1820px;
	}

	.button{
		margin-left: 1200px;
	}
}
@media only screen and (min-width: 992px) and  (max-width: 1200px){
	mat-toolbar{
		width: 1900px;
	}

	.button{
		margin-left: 1300px;
	}
}

@media only screen and (min-width: 1200px) and  (max-width: 1839px){
	mat-toolbar{
		width: 1880px;
	}

	.button{
		margin-left: 1300px;
	}
}
